<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>OJSS Group4</title>
    <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous" />

    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>

<body class="gray-bg">
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>

        <hr />
        <h4>Search Job</h4>
        <form autocomplete="off" action="#" th:action="@{/j}"
              th:object="${jobRecruiter}" method="post" class="m-t" role="form"
              data-toggle="validator">
        <div class="reservation">
            <div class="section_room">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <select id="country" onchange="change_state(this.value)" class="frm-field required">
                    <option value="null">Location</option>
                    <option value="null">Melbourne</option>
                    <option value="AX">Sydney</option>
                    <option value="AX">Brisban</option>
                    <option value="AX">Adleide</option>
                    <option value="AX">West Australia</option>
                </select>
            </div>
            <div class="section_room">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <select id="country1" onchange="change_country(this.value)" class="frm-field required">
                    <option value="null">Type</option>
                    <option value="null">Full time</option>
                    <option value="AX">Part time</option>
                    <option value="AX">Casual</option>
                    <option value="AX">Contract</option>
                </select>
            </div>
            <div class="reservation-grids">
                <div class="reservation-grid-left">
                    <div class="section_room">
                        <span class="glyphicon glyphicon-yen" aria-hidden="true"></span>
                        <select id="country2" onchange="change_country(this.value)" class="frm-field required">
                            <option value="null">Salary From Min</option>
                            <option value="null">No Minimum</option>
                            <option value="AX">$1000</option>
                            <option value="AX">$3000</option>
                            <option value="AX">$4000</option>
                            <option value="AX">$5000</option>
                        </select>
                    </div>
                </div>
                <div class="reservation-grid-right">
                    <div class="section_room">
                        <span class="glyphicon glyphicon-yen" aria-hidden="true"></span>
                        <select id="country3" onchange="change_country(this.value)" class="frm-field required">
                            <option value="null">Salary To Max</option>
                            <option value="null">Any</option>
                            <option value="AX">$15000</option>
                            <option value="AX">$25000</option>
                            <option value="AX">$35000</option>
                            <option value="AX">More</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"> </div>

            </div>
            <div class="keywords">
                <form action="#" method="post">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    <input type="text" name="Key Words" placeholder="Key Words" required=" ">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
    </div>
    </div>
</body>
</html>