<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>OJSS Group4</title>
    <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous" />

    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>

<body class="gray-bg">
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>

        <hr />
        <h4>Search Job</h4>
        <form autocomplete="off" action="#" th:action="@{/homePage}"
              th:object="${job}" method="post" class="m-t" role="form"
              data-toggle="validator">
            <!--div class="reservation">
                <div class="section_room">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <select id="state"  th:field="*{state}" class="frm-field required">
                        <option value="null">Location</option>
                        <option value="null">Melbourne</option>
                        <option value="AX">Sydney</option>
                        <option value="AX">Brisbane</option>
                        <option value="AX">Adelaide</option>
                        <option value="AX">West Australia</option>
                    </select>
                </div>

                <div class="section_room">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    <select id="type" th:field="*{jobType}" class="frm-field required">
                        <option value="null">Type</option>
                        <option value="null">Full time</option>
                        <option value="AX">Part time</option>
                        <option value="AX">Casual</option>
                        <option value="AX">Contract</option>
                    </select>
                </div>
            </div-->
            <div class="keywords">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <input type="text" th:field="*{jobName}"
                       placeholder="Job Name" class="form-control"/>
                <div class="help-block with-errors"></div>
            </div>
            <button type="submit"
                    class="btn btn-primary block full-width m-b">Search</button>
        </form>


    </div>
    <div class="clearfix"> </div>
</div>
<!-- jQuery-->
<script
        src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap -->
<script
        src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Bootstrap Validator plugin -->
<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>