<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>OJSS</title>
</head>
<body>
<div align="center">
    <h2>Online Job Seeking System</h2>
<hr>
<button type="button"><a href="http://localhost:8080/jobRecruiterRegistration">recruiter Registration</a></button>
<hr>
<button type="button"><<a href="http://localhost:8080/jobRecruiterLogin">recruiter Login</a></button>
<hr>
<button type="button"><<a href="http://localhost:8080/jobSeekerRegistration">seeker Registration</a></button>
<hr>
<button type="button"><<a href="http://localhost:8080/jobSeekerLogin">seeker login</a></button>
<hr>

</body>
</html>